.page-header {
  padding: 30px;
  text-align: center;
  background-color: coral;
  margin-top: 20px;
  color: white;
}
.navbar-navbar-light-bg-faded {
  background-color: white;
  margin: 20px;
  padding: 10px;
  text-align: right;
}

.navbar-brand {
  color: black;
  text-align: center;
}

.name {
  /*color: #082E72;*/
  font-size: 240px;
  font-family: "Times New Roman";
  color: black;
  /*font-weight: bold;*/
}

.type {
  font-family: "Times New Roman";
  font-size: 30px;
  color: black;
}

.definition {
  font-family: "Times New Roman";
  font-size: 20px;
  color: black;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}
.slidetext {
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 10px;
  padding: 12px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.w3-content {
  text-align: center;
  color: red;
}

.a.nounderline:link {
 text-decoration:none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

a:hover {
  color: purple;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 10px;
  padding: 12px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.w3-content {
  text-align: center;
}

.a.nounderline:link
{
 text-decoration:none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

a:hover {
  color: purple;
}
/*}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 5}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 5}
}*/
